body{
    position: relative;
    width: 1080px;
    height: 1920px;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    }

.headline{ 
    padding:150px 0px 0px 20px; 
    color: white;
}
    
    #kopf{
        height: 200px;
        width: 100%;
        background-color:grey;
        position: relative;
        float: left;
        background-image: url(../image/coworkit-logo.png);
        background-position-x: 90%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: 30%;
        background
    }
    
    #koerper{
        position: relative;
        float: left;
        width: 100%;
        height: 1400px;
        padding-top: 2px;
        background-color: white;
    }

  .heading {
      height: 100px;
      font-size: 2em;
      border: 3px dotted orange;
      font-weight: 300;
  }

  .frage{
      color: orange;
      padding-top: 20px;
  }