body {
	position: relative;
	width: 1080px;
	height: 1920px;
	padding: 0;
	margin: 0;
	background-color: lightgrey;
}

svg.wersitztwo {
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
	max-width: 1000px;
	max-height: 800px
}

img.round {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	border-width: 4px;
	border-color: #fa6800;
	border-style: solid;
}

img.qr {
	max-height: 200px;
	max-width: 200px;
}

img.logo {
	max-width: 200px;
	max-height: 200px;
}

iframe.members {
	bottom: 0px;
	left: 0px;
	position: fixed;
	display: block;
	width: 100%;
	height: 800px;
}

.top-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 150px;
}

.top-logo {
	max-width: 150px;
	max-height: 150px;
}

.time {
	position: fixed;
	top: 180px;
	right: 20px;
	display: block;
	width: 120px;
	height: 60px;
}

.start-screen {
	min-width: 100%;
	height: 100%;
	position: relative;
	padding-bottom: 20px;
}

.start-screen-title {
	position: fixed;
	top: 180px;
	left: 80px;
	display: none;
}

[class*=tile-] {
	transform: scale(0.8);
}

.tile-news {
	display: block;
	background-color: #1ba1e2;
	color: #ffffff;
	width: 950px;
	height: 334px;
	-webkit-box-shadow: inset 0 0 1px #FFFFCC;
			box-shadow: inset 0 0 1px #FFFFCC;
	position: relative;
	overflow: hidden;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
  }

.tiles-group {
	margin-left: 0;
	margin-top: 120px;
}

.container-content {
	margin-left: 0;
	margin-top: 120px;
}

@media all and (min-width: 768px) {
	.start-screen-title {
		display: block;
	}

	.start-screen {
		padding: 140px 80px 0px 0px;
	}

	.tiles-group {
		left: 100px;
	}

	.tiles-group {
		margin-left: 80px;
	}

	.container-content {
		margin-top: 120px;
	}
}

/*------------------Style Schlemmerecke---------------*/
.adress {
	text-align: right;
	padding: 0px 20px 20px 0px;
	font-size: 16px;
	font-weight: 600;
}

/*------------------Profile---------------*/
.keywords {
	text-align: center;
}

.keywords li {
	margin-right: 50px;
}

.card-content p {
	padding: 25px;
	text-align: justify;
}

/*------------------Index-Calendar--------------*/

#events {
	display: inline-block;
}

.cal-card-wrapper {
	display: block;
	position: relative;
	color: black;
	background-color: white;
	border: 1px solid black;
	width: 200px;
	height: 300px;
	margin: 17px;
	float: left;
}

.cal-card-day {
	height: 100px;
	line-height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	text-align: center;
	font-size: 4rem;
	font-weight: 800;
	padding: 20px 10px 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cal-card-month {
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 0;
	top: 100px;
	right: 0;
	text-align: center;
	font-size: 1rem;
	font-weight: 800;
	padding: 0px 10px 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cal-card-shortline {
	height: 1px;
	width: 50px;
	position: absolute;
	left: 75px;
	top: 150px;
	right: 0px;
	text-align: center;
	border: 0.5px solid black;
}

.cal-card-name {
	height: 80px;
	line-height: 20px;
	position: absolute;
	left: 0;
	top: 151px;
	right: 0px;
	text-align: center;
	font-size: 1rem;
	font-weight: 800;
	padding: 20px 10px 5px;
	overflow: hidden;
	white-space: pre-wrap;
	text-overflow: ellipsis;
}

.cal-card-longline {
	height: 1px;
	width: 150px;
	position: absolute;
	left: 25px;
	top: 251px;
	right: 0px;
	text-align: center;
	border: 0.5px solid black;
}

.cal-card-time {
	height: 48px;
	line-height: 20px;
	position: absolute;
	left: 0;
	bottom: 0px;
	right: 0px;
	text-align: center;
	font-size: 0.8rem;
	font-weight: 800;
	padding: 15px 10px 5px;
	overflow: hidden;
	white-space: pre-wrap;
	text-overflow: ellipsis;
}